.footer{
    width: 72%;
    margin: 0 auto;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.institution-container{
    margin-top: 10px;
}

.institution-container p{
    margin: 0;
}

.institution-container p:nth-child(1){
    /* font-size: 17px; */
    font-weight: 500;
    margin-bottom: 5px;
}
.institution-container p:nth-child(2){
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
}
.institution-container p:nth-child(3){
    font-size: 14px;
}
.institution-container p:nth-child(4){
    font-size: 14px;
}

.developers-container{
    margin: 0;
    text-align: right;
}
.developers-container p{
    font-size: 14px;
    margin: 4px;
    /* color: #a5a5a5; */
}

.developers-container p:nth-child(1){
    font-size: 14px;
}