.top-nav{
    background-color: #444444;
    color: white;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #1c6e1c;
    width: 100%;
}

a{
    color: white;
    margin-left: 5px;
}
a.active{
    font-weight: bolder;
    font-size: 16px;
}