.top_nav{
    width: 100%;
    background-color: black;
    height: 35px;
    /* position: absolute; */
}

.top_nav ul{
    display: flex;
    align-items: center;
    padding: 0;
}

.top_nav ul li{
    list-style-type: none;
    padding-top: 5px;
}

.top_nav ul li button{
    text-decoration: none;
    color: white;
    margin-left: 5px;
    font-size: 14px;
    background-color: #ffffff00;
    border: none;
}

.top_nav ul li button.active{
    font-weight: bold;
    font-size: 18px;
    /* color: red; */
}