.home-layout{
    margin-top: 30px;
    /* border: 1px solid black; */
    width: 68%;
    margin: 30px auto;
    display: flex;
    gap: 10px;
    background-color: #fff;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.outlet{
    background-color: white;
    padding: 0 10px;
    width: 73%;
    /* margin-top: 30px; */
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.side-nav{
    width: 32%;
    background-color: white;
    /* margin-top: 30px; */
    padding: 10px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.bottomImg{
    width: 75%;
    margin: 40px auto 0 auto;
}

.bottomImg img{
    width: 100%;
}

@media screen and (max-width: 790px) {
    .home-layout{
        flex-direction: column;
    }
}